<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>这是ejs模板</title>
  </head>
  <body>
    <h1>hello ejs</h1>

    <!-- 通过它可以将render传递进来的数据直接在网页中显示出来 -->
    <%=name %>
  </body>
</html>
